






.container {
     display: flex;
     justify-content: center;
     flex-direction: column;
     height: 400px;
     align-items: center;
     margin-top: 90px;
     }




.App{
 
    display: flex;
     justify-content: center;
     flex-direction: column;
     height: 500px;
     align-items: center;
     margin-top: 90px;   
     border-color: blue;
     background-color: rgb(29, 184, 223);
     margin: 80px;
     border-radius: 25px;
     width: 100%;
     
}


.add{

    display: flex;
     justify-content: center;
     flex-direction: column;
     height: 500px;
     align-items: center;
     margin-top: 90px; 
     width: 400px;
     justify-content: space-around;
    
     
}  

.list{

    display: flex;
     justify-content: center;
     flex-direction: column;
     height: 50px;
     align-items: center;
     margin-top: 90px; 
     width: 400px;
     justify-content: space-around ;
     background-color: rgb(44, 56, 226);
     border-radius: 25px;
}


.table th{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 400px;
    text-align: left;
    justify-content: space-between;
    background-color: rgb(250, 241, 241);
    justify-content: space-evenly;


}

.tablecontent{
     
    box-sizing: content-box;
    background-color: aqua;
    justify-content: space-evenly;
}

.table tr{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 400px;
    text-align: left;
    justify-content: space-between;
    background-color: rgb(241, 241, 234);
    justify-content: space-evenly;
}

.table tr:hover{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 400px;
    text-align: left;
    justify-content: space-between;
    background-color: cadetblue;
    justify-content: space-evenly;
}







